:root {
  --offcanvass-width: 300px;
  --navbar-height: 56px;
}

.offcanvas.offcanvas-start {
  width: var(--offcanvass-width) !important;
  top: var(--navbar-height);
}

.nav-item {
  cursor: pointer;
}



@media (min-width: 992px) {
  .offcanvas-backdrop {
    display: none;
  }

  .main-body {
    margin-left: var(--offcanvass-width);
  }
}